name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 400

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # CACHE REMOVED TEMPORARILY TO FIX CORRUPTION
      # This ensures a 100% clean build environment

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get remove -y libunwind-14-dev || true
          sudo apt-get install -y libunwind-dev build-essential libffi-dev libssl-dev ffmpeg \
            libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
            libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev \
            zlib1g-dev libgstreamer1.0-dev gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly \
            patchelf wget unzip zip autoconf automake libtool gettext
          pip install --upgrade pip
          pip install buildozer "cython>=3.0.0" wheel setuptools

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configure Virtual Memory (Swap)
        run: |
          sudo swapoff -a || true
          sudo dd if=/dev/zero of=/swapfile bs=1M count=4096
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost"

      - name: Build APK with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # Ensure we are using the absolute latest p4a
          pip install --upgrade python-for-android
          
          # Force delete every single hidden build folder
          rm -rf .buildozer/
          rm -rf ~/.buildozer/
          rm -rf bin/
          
          buildozer -v android debug -- --no-byte-compile-python --no-compile-pyo

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: VisionApp-Final
          path: bin/*.apk
