name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Get Date
        id: get-date
        run: |
          echo "date=$(date -u '+%Y%m%d')" >> $GITHUB_ENV
        shell: bash

      - name: Cache Buildozer global directory
        uses: actions/cache@v4
        with:
          path: ~/.buildozer
          key: buildozer-global-${{ runner.os }}-${{ hashFiles('buildozer.spec') }}

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          
          # Fix for conflicting LLVM packages on Ubuntu 22.04 runners
          sudo apt-get remove -y libunwind-* || true
          
          sudo apt-get install -y \
            build-essential \
            git \
            libffi-dev \
            libsqlite3-dev \
            libssl-dev \
            zlib1g-dev \
            libgstreamer1.0-dev \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good \
            libltdl-dev \
            pkg-config \
            autoconf \
            automake \
            libtool \
            cmake \
            unzip \
            zip \
            openjdk-17-jdk \
            python3-setuptools \
            python3-pip \
            python3-wheel \
            libunwind-dev

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          # Use 'yes |' to automatically type "y" for all license prompts
          command: yes | buildozer android debug
          buildozer_version: master

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package-${{ env.date }}
          path: ${{ steps.buildozer.outputs.filename }}
